---
layout: default
overtitle: Hi, I'm Quinlan
title: Product Designer and UX Strategist
featured_image: /images/social.jpg
---

<div class="page-home">

	{% if site.data.settings.hero_settings.background_image %}
	<img src="{{ site.data.settings.hero_settings.background_image }}" class="hero__background" draggable="false">
	{% endif %}

	<section class="hero">
		<div class="wrap">
<div class="title">
				<p class="subtitle">{{ page.overtitle }}</p>
				<h1>{{ page.title }}</h1>
			</div>

			{% include section__about.html %}

				<a href="#" class="hero__cta button--fill contact-trigger js-contact">Hire Me</a>
			</p>
		</div>
	</section>


	<section class="recent-posts">
		<div class="wrap grid">

					<header class="recent-posts__header">
							<h4>Featured Projects</h4>
					</header>
			
			<div class="recent-posts__list grid">
				{% for post in site.posts limit: 4 %}
				{% include component__post-preview.html %}
				{% endfor %}
			</div>
		</div>
	</section>


	<section class="listing">

		<div class="wrap">

			<header class="recent-posts__header">
							<h4>Additional Projects</h4>

			{% for project in site.projects reversed %}

			{% if project.accent_color %}{% capture accent_color %}{{ project.accent_color }}{% endcapture %}{% endif %}

			<article class="project__preview">

				

				<div class="project__content grid" style="border-color: {{ accent_color }}">
					<p class="project__subtitle subtitle--light">Product Design @ MaestroQA</p>
					<p class="project__description --small">
						Current contract streamlining the QA process across Customer Service teams
					<a href="https://www.maestroqa.com" target="_blank" class="project__link button--text --right"
							style="color: {{ accent_color }}; --color-var: {{ accent_color }}">View Website</a>

					</p>
				</div>
			</article>
<article class="project__preview">

				

				<div class="project__content grid" style="border-color: {{ accent_color }}">
					<p class="project__subtitle subtitle--light">HollywoodLife Resdesign</p>
					<p class="project__description --small">
						Prepared assets and Sketch files for PMC's entertainment news site
					<a href="https://hollywoodlife.com" target="_blank" class="project__link button--text --right"
							style="color: {{ accent_color }}; --color-var: {{ accent_color }}">View Website</a>

					</p>
				</div>
			</article>

<article class="project__preview">

				

				<div class="project__content grid" style="border-color: {{ accent_color }}">
					<p class="project__subtitle subtitle--light">MFIT Exhibition Website</p>
					<p class="project__description --small">
						Website design, earned Silver Muse Award from the American Alliance of Museums
					<a href="https://exhibitions.fitnyc.edu" target="_blank" class="project__link button--text --right"
							style="color: {{ accent_color }}; --color-var: {{ accent_color }}">View Website</a>

					</p>
				</div>
			</article>

			{% endfor %}
		</div>
	</section>

</div>